  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    color: #333;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .Search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .Search input {
    width: 50%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .Search button {
    padding: 10px 15px;
    font-size: 18px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
  }

  .Search button:hover {
    background-color: #0056b3;
  }

  .Poster img {
    display: block;
    max-width: 100%;
    margin: 0 auto 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .Poster img:hover {
    transform: scale(1.05);
  }


  .Actors-Writers,
  .Plot,
  .About,
  .BoxOffice,
  .Website,
  .Random {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .Actors-Writers {
    display: flex;
    justify-content: space-between;
  }

  .Actors,
  .Writers {
    width: 45%;
  }

  .About {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .Runtime,
  .Language,
  .Country {
    grid-column: span 2;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
  }

  a {
    color: #007BFF;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }