@import './base.css';

/* clean styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--vt-c-black-soft);
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  border-radius:2%;
  background-color: var(--vt-c-white-soft);
}

.Search {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.Search input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: 15px/1 'Open Sans', sans-serif;
  color: #40414F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 99%;
  background-color: #EBEBEB;
  border: none;
  padding: 10px 11px 11px 11px;
  border-radius: 1rem;
  box-shadow: none;
  outline: none;
  margin: 0.5%;
  margin-top: 1%;
  box-sizing: border-box;
}

.Search button {
  width: 30%;
  background-color: #343540;
  color: var(--vt-c-white-soft);
  border: none;
  padding: 10px 11px 11px 10px;
  border-radius: 1rem;
  box-shadow: none;
  outline: none;
  margin: 0.5%;
  box-sizing: border-box;
}

.Poster {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.Poster img {
  max-width: 100%;
  border-radius: 5%;
}

.Actors-Writers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--vt-c-black-soft);
}

.Actors,
.Writers {
  flex: 1;
  padding: 0 1rem;
}

.Actors h3,
.Writers h3 {
  margin-bottom: 0.5rem;
}

.Actors p,
.Writers p {
  margin-bottom: 1rem;
}

.Plot {
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--vt-c-black-soft);
}

.Plot h3 {
  margin-bottom: 0.5rem;
}

.Plot p {
  margin-bottom: 1rem;
}

.About {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--vt-c-black-soft);
}

.About .Title,
.About .Year,
.About .Genre,
.About .Director,
.About .Runtime,
.About .Language,
.About .Country {
  flex: 1;
  padding: 0 1rem;
}

.About .Title h3,
.About .Year h3,
.About .Genre h3,
.About .Director h3,
.About .Runtime h3,
.About .Language h3,
.About .Country h3 {
  margin-bottom: 0.5rem;
}

.About .Title p,
.About .Year p,
.About .Genre p,
.About .Director p,
.About .Runtime p,
.About .Language p,
.About .Country p {
  margin-bottom: 1rem;
}

.Ratings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--vt-c-black-soft);
}

.Ratings .imdbRating,
.Ratings .imdbVotes {
  padding: 0 1rem;
}

.Ratings .imdbRating h3,
.Ratings .imdbVotes h3 {
  margin-bottom: 0.5rem;
}

.Ratings .imdbRating p,
.Ratings .imdbVotes p {
  margin-bottom: 1rem;
}

.Ratings h3,
.Ratings p {
  margin-bottom: 1rem;
}

.BoxOffice {
  padding-left: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--vt-c-black-soft);
}

.BoxOffice h3 {
  margin-bottom: 0.5rem;
}

.BoxOffice p {
  margin-bottom: 1rem;
}

.Production {
  padding-left: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--vt-c-black-soft);
}

.Website {
  padding-left: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--vt-c-black-soft);
}

.Website h3 {
  margin-bottom: 0.5rem;
}

.Website p {
  margin-bottom: 1rem;
}

.Random {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--vt-c-black-soft);
}

.Random .Awards {
  flex: 1;
  padding: 0 1rem;
}

.Random .Awards h3 {
  margin-bottom: 0.5rem;
}

.Random .Awards p {
  margin-bottom: 1rem;
}